<!DOCTYPE html>
<html>
  <head>
    <title>Ceaseless DEMO CMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Sign Up", signup_path %>
      <% flash.each do |name, msg| -%>
        <strong><%= content_tag :div, msg, class: name %></strong>
      <% end -%>
    </nav>
    <div class = "container">

      <%= yield %>
      <footer>
        <%= link_to "Back", root_path %> |

        <%= link_to "About", about_path %>
      <br></br>
      </footer>
    </div>
  </body>
</html>
